.env*/*
.vscode/*
.idea/*
.ipynb_checkpoints/*
__pycache__/*.*
build/*.*
dist/*.*
_tmp_*.*
~*.*
_local_*.*
mef.bat
requirements.bat
*.spec
*.pkl
*.ipynb
*.exe
*.zip
*.ttf
*.mdl

hidden_user_data.py
run_main.bat